/* Default Light Theme Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 600px;
    margin: 50px auto; /* top and bottom margin for breathing space */
    padding: 50px 130px; /* 50px for top and bottom, 130px for sides */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title {
    text-align: center;
    margin-bottom: 30px; /* Margin between the header and main content */
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 500; /* Lighter font to match the example */
}

h2 {
    color: #006EB6;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
    font-weight: 300; /* Lighter font */
}

/* Adding the gray line under h2 */
h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin: 1px 0 25px; /* bring the line closer to h2 */
}

main p {
    text-align: left;
    margin-bottom: 15px;
}

.mission-list {
    padding-left: 20px; /* for indentation */
}

.list-item {
    margin-bottom: 10px;
}

.list-number {
    font-weight: normal;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer img {
    width: 150px;
    height: auto;
}

/* Dark Theme Styles */
.dark body {
    background-color: #333;
    color: #fff;
}

.dark h2 {
    color: #66b3ff; /* Light Blue for better contrast */
}

.dark .content {
    background-color: #444;
    border: 1px solid #666;
}

.dark header {
    background-color: #555;
}

.dark h1 {
    color: #fff;
}

.dark main p {
    color: #fff; /* White text for dark mode */
}

.dark .mission-list .list-item {
    color: #ddd; /* Lighter text for list items in dark mode */
}

.dark footer img {
    content: url('byui-logo_white.png'); /* Use a white logo in dark mode */
}

.dark label {
    color: #fff; /* White text for labels in dark mode */
}

/* Dark Theme Select Dropdown */
.dark select {
    background-color: #444;
    color: #fff;
}
